---
---

// Variabls
$social-icon-size: 25px;
$section-icon-size : 35px;

$facebook-icon: "\f09a";
$twitter-icon: "\f099";
$stackexchange-icon: "\f18d";
$github-icon: "\f09b";
$post-icon: "\f1ea";

$footer-grey: #d0d0d0;
$amaranath: #f1615f;

@import "body";
@import "typography";
@import "figure";
@import "navigation";
@import "footer";
@import "social";
@import "card";
@import "post-meta";
@import "section-icon";
@import "post-body";
@import "code";
@import "series-contents";
@import "fonts";
