.post-body {
    padding: 1% 12% 1% 12%;
    background-color: #FFFFFF;
    color: #333;

    .post-title {
        margin-top: 10px;
    }
    .series-title {
        text-align: center;
        margin-top: 20px;
    }
    .post-description {
        font-size: 1.15em;
    }
}
